:root {
  --main-text-color: #303030;
  --minor-text-color: darkgray;
}

.maincontainer {
  font-family: "Times New Roman", monospace;
  /* font-size: 20px; */
  text-align: left;
  color: var(--main-text-color);
  margin: 0 3.5vw;
}
body {
  background-color: #b4ddfe;
}

hr{
  background-image: url("../../static/grass.jpg");

}
#mio {
  all: unset;
  font-size: 60px;
  font-family: "Times New Roman", monospace;
  
}
div.header{
  
  background-image: url("~/static/grass.jpg");
}
#grass{
  font-size: 90px;
}
.minor-msg {
  font-size: 11px;
  color: var(--minor-text-color);
}
.navbar-item.active {
  color: aqua;
}
a {
  color: lightskyblue;
  text-decoration: none;
}
a.navbar-item, .nuxt-link.navbar-item {
  color: var(--main-text-color);
  text-decoration: none;
}
h1 {
  font-size: 30px;
}
h1.error-code {
  font-size: 60px;
}
iframe {
  border-style: solid;
}
hr {
  border: 1.5px solid #cccccc;
  background-color: #cccccc;
}
code {
  background: #303030;
  padding: 10px;
}
div#console {
  margin-bottom: 40px;
}
div.album-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 15px 0;
}
div.album-container iframe {
  height: 150px;
  width: 150px;
  padding: 4px;
  border: none;
}
